:root {
    --body-bkgd-color:#000000;
    --menu-bkgd-color:rgba(22, 22, 22, .9);
    --menu-rollover-color:#e6ce1d;
    --menu-active-color:#e6ce1d;
    --menu-link-color:#ffffff;
    --menu-button-color:#ffffff;
    --graphic-editing:#f6e931;
    --digital-printing:#38d430;
    --fine-art-prints:#ef2ac1;
    --advising:#29abe2;
    --web-services:#faaf43;
}

body, .body-bg {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--body-bkgd-color) !important;
/*    color:#ffffff;*/
    font-family: 'Libre Franklin', sans-serif;
}

/* centering of text in 404 page */

#p97 .frame-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a:hover {
    text-decoration:none;
    color:#ffffff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

#c666, #c670, #c673, #c678, #c684, #c688,
#c690, #c702, #c708, #c700, #c714, #c706, #c741, #c742, #c747,
#c718, #c727, #c725, #c598,
#c750 {
    padding:0 0 15px 0;
    margin:0;
    background-color: #fff;
    color:#000;
}

#c666 h2, #c670 h2, #c673 h2, #c678 h2, #c684 h2, #c688 h2,
#c690 h2, #c702 h2, #c708 h2, #c700 h2, #c714 h2, #c706 h2, #c741 h2, #c742 h2, #c747 h2,
#c718 h2, #c727 h2, #c725 h2, #c598 h2,
#c750 h2 {
    line-height:1.5rem;
/*    margin-left:-8px;*/
}

/*****************************/
/***** OFF CANVAS NAVBAR *****/
/*****************************/
.navbar-mainnavigation {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    font-weight:500;
    font-size: 1.1rem;
    padding-bottom: 60px;
}

.navbar-toggler {
    z-index:10;
}

#page-header .container {
    position:relative;
/*    padding-left: 0;*/
    padding-top:3rem;
    margin-bottom:0;
}

.navbar-mainnavigation>.container>.navbar-collapse {
    position: absolute;
    right: -5000px;
    top: 130px;
    width: 0;
    height:auto;
    visibility:hidden;
    background-color:var(--menu-bkgd-color);
    z-index:-1;
    -webkit-transition: right .4s ease-in-out;
    -o-transition: right .4s ease-in-out;
    transition: right .4s ease-in-out;
}

.navbar-mainnavigation>.container>.show {
    padding:0;
    position: absolute;
    right: 8px;
    top: 0;
    width: 215px;
    visibility: visible;
    opacity:1;
    z-index:6;
}

.nav-item {
    display:flex;
    justify-content: flex-end;
    flex-wrap:no-wrap;
    padding-right:20px;
    height:3.1rem;
}

.nav-link-text {
	color:var(--menu-link-color);
}

a.nav-link:hover > .nav-link-text {
  color:var(--menu-rollover-color);
  clear:right;
}

.navbar-default .navbar-nav .active > .nav-link > .nav-link-text {
    color:var(--menu-active-color);    
}

.navbar-mainnavigation .navbar-nav > li > .nav-link::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 4px;
    height: 100%;
    background: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 6em;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
    transition-delay: 0;
    transform: rotate(0);
    top: -10px;
    width: 37px;
    background-color:var(--menu-bkgd-color);
}

.navbar-toggler-icon {
    width: 37px;
    background-color:var(--menu-bkgd-color);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
    transition-delay: 0;
    transform: rotate(0);
    top: 10px;
    width: 37px;
    background-color:var(--menu-bkgd-color);
}

.navbar-toggler-icon::after {
    transition-delay: 0.1s;
    transform: rotate(45deg);
    top: 0;
    width: 37px;
    background-color:var(--menu-link-color);
}

.navbar-toggler-icon::before {
    transition-delay: 0.1s;
    transform: rotate(-45deg);
    top: 0;
    width: 37px;
    background-color:var(--menu-link-color);
}

.navbar-mainnavigation .navbar-toggler {
    width: 22px;
    align-self: baseline;
    margin-right: 15px;
    margin-top: 3px;
}

.navbar-mainnavigation .navbar-brand-image img {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    width: auto;
    max-height: unset;
    z-index:3;
}

.switch {
    text-align: right;
    padding-top:20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.switch-logo {
    max-height: 54px;
    max-width: 55px;
}

.st0:hover {
    fill:var(--menu-rollover-color);
}

/****************************/
/** BREADCRUMB NAVIGATION  **/
/****************************/

@media (min-width: 300px) {
.breadcrumb-section {
    background-color: #fff;
    margin-top: 0;
    padding-bottom: 40px;
    padding-right: 10px;
    z-index:1;
}
}

@media (min-width: 530px) {
.breadcrumb-section {
    background-color: #fff;
    margin-top: -68px;
    padding-bottom: 60px;
    padding-right: 10px;
    z-index:1;
}
}

@media (min-width: 768px) {
.breadcrumb-section {
    background-color: #fff;
    margin-top: -82px;
    padding-bottom: 60px;
    padding-right: 10px;
    z-index:1;
}
}

@media (min-width: 992px) {
.breadcrumb-section {
    background-color: #fff;
    margin-top: -100px;
    padding-bottom: 60px;
    padding-right: 10px;
    z-index:1;
}
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
}

#p65 .breadcrumb {
    display: none;
}

a.breadcrumb-link:hover {
    color:#000;
}

/**********************/
/*****    CARD    *****/
/**********************/
.card-header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom:none;
}

.card a:not(.btn):hover {
    color: var(--menu-button-color);
    text-decoration:none;
}

.card .btn-text:hover {
    color: var(--menu-button-color);
}

.card .btn-text {
    font-size: 40px;
    font-weight: 600;
    color: var(--menu-rollover-color);
}

.card .btn-text:hover {
    color: var(--menu-button-color);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    margin:0;
}

.card-body p {
    line-height:18px;
    font-size:.9rem;
}

#p1 .card-body,
#p61 .card-body,
#p85 .card-body {
    display:none;
}

.card-group-element-item .card-body + .card-footer {
    margin:0;
    padding-top: 0;
    padding-bottom:0;
}

.card-footer {
    padding-top: 0;
    padding-bottom:0;
}

.btn-secondary {
    color: inherit;
    background-color: #121111;
    border-color: #121111;
}

a.btn-secondary:hover {
    background-color:#121111;
    border-color:#121111;
}

.card-title {
    margin:0;
    padding:0;
}

.card-group-element {
    margin: -16px -32px;
    display: flex;
    flex-wrap: wrap;
}

.card-group-element-item {
    width: 100%;
    padding: 16px 32px;
}

/***** END OF CARD *****/

/*****  CAROUSEL  *****/

.container .carousel {
  margin:0;
  padding:0;
}

.carousel .carousel-control-icon {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: auto;
    height: auto;
    color: var(--menu-rollover-color);
    padding: 1em;
    background-color: transparent;
    transition: all 0.4s ease-in-out 0s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel .carousel-control-icon::before {
    transform: rotate(45deg);
    content: '';
    width: 1.8em;
    height: 1.8em;
    display: block;
    border-top: 3px solid var(--menu-rollover-color);
    border-right: 3px solid var(--menu-rollover-color);
}

.carousel .carousel-control-prev .carousel-control-icon::before {
    transform: rotate(225deg) skew(200deg,200deg);
}

.carousel .carousel-control-next .carousel-control-icon::before {
    transform: rotate(45deg) skew(20deg,20deg);
}

/**** END CAROUSEL ****/

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    align-items:center;
    justify-content: space-between;
 }

.col-sm-4 figure {
 display: table;
 margin: 0 auto;
}

@media (min-width: 767.9px) {
  #c494 p {
  column-count:2;
  column-gap:3em;
  font-size: 1em;
  text-align:left;
}
}

.col-md-8,
.col-md-12 {
  margin:0;
  padding:0;
}

/* importante p3 p5 */
/*.frame-container {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}*/

/***** newly added *****/

figure .caption {
   text-align: left;
}

/*#c341 {
   margin-bottom: 40px;
}*/

.gallery-item img, .gallery-item picture {
    /*width: 100%;*/
    height: auto;
}

.gallery-item {
    padding-left: 0;
    padding-right: 0;
}

.textmedia, .textpic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

@media (min-width:768px) {
 .textmedia-right .textmedia-item,
 .textmedia-left .textmedia-item,
 .textpic-right .textmedia-item,
 .textpic-left .textmedia-item,
 .textmedia-right .textpic-item,
 .textmedia-left .textpic-item,
 .textpic-right .textpic-item,
 .textpic-left .textpic-item {
  margin-bottom:0;
  width:45%;
}
}

.textmedia-item, .textpic-item {
    order: 1;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.form-container {
    width: 100%;
}

.frame-space-after-medium {
    margin:0;
}

/*************************/
/******** LIGHTBOX *******/
/*************************/

.pswp__bg {
  background-color:var(--body-bkgd-color);
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
 background-color:var(--body-bkgd-color);
}

.pswp__caption__title {
  font-style:italic;
  font-weight:700;
}

.pswp__caption__center,
.pswp__caption__subtitle {
  color:var(--menu-rollover-color);
  opacity:1;
}

.pswp__top-bar, .pswp__caption {
  background-color: var(--menu-rollover-color);
  opacity:0.85;
}

/**** END OF LIGHTBOX ****/

/*************************/
/****** NEWS PLUGIN ******/
/*************************/

.extra,
.btn-default,
.social {
	display:none;
}

.article {
	display:flex;
	flex-wrap:wrap;
}

#p12 .news-list-item .lead {
        display:none;
}
/* detail view in page id=9 */
#c576 {
        display:none;
}

.row {
	display:flex;
	flex-wrap: wrap;
	margin-right:0;
	margin-left:0;
    justify-content: space-between;
}

.news .frame-container {
	padding:0;
}

.news-list-item {
	flex:1 0 33.3333%;
}

.news-single .lead {
  line-height: 1;
  font-size: 1em;
  margin-bottom:1.5em;
}

.news.news-single .caption {
    clear: both;
    font-size: 0.75em;
    margin-top:.45em;
    margin-bottom:1em;
}

#p22 h1 {
	clear: right;
}

#p24 .element-header, #p25 .element-header {
  display:none;
}

/*************************/
/** NEWS MEDIA QUERIES ***/
/*************************/
/*** Less then 480  ***/

@media (max-width: 479.9px) {
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    margin-left: 2px;
    justify-content: space-between;
}
.news-list-item {
        flex:1 0 100%;
}
.news-single img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
}
.news-list-item .col-md-12 {
  padding-left:0;
  padding-right:0
}
.news .row .news-list-item {
  margin:auto;
  padding:0;
  width:100%;
  height:auto;
}
h4 {
  font-size: 1em;
}
.news-list-view p {
  margin:3px 0 0 0;
  font-size: .4rem;
  line-height:.9;
}
.news-list-item .lead {
    margin-bottom: 18px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.col-md-3 {
  padding-left:0;
}
#p32 .news-single .col-md-4 {
  padding-left:0;
  padding-right:0;
  flex:1 0 100%;
}
.col-md-5 {
  padding-left:0;
}
.col-md-8 {
  padding-left:0;
  padding-right:0
}
.col-md-12 {
  padding-left:0;
  padding-right:0
}
#p32 .news-single .col-md-12 {
  flex:1 0 100%;
  padding-left:0;
  padding-right:0;
  margin-left:-8px;
  margin-right:-8px;
}
.news .frame-container {
  padding-left:10px;
  padding-right:10px;
}
#p32 .frame-container {
    position: relative;
    width: 100%;
    padding-right:8px;
    padding-left:8px;
    margin-right: auto;
    margin-left: auto;
}
}

/*** Greater than 480, less then 768 ***/
@media (min-width: 480px) and (max-width: 767.9px) {
.news-single img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
}
.news .row .news-list-item {
  flex:0 0 49.3%;
  margin:0;
  height:auto;
}
.news  .row .news-list-item:last-child {
  flex:0 0 49.3%;
}
h4 {
  font-size: 1em;
}
.news-list-view p {
  margin:3px 0 0 0;
  font-size: .45rem;
  line-height:.9;
}
.news-list-item .lead {
    margin-bottom: 20px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right:0;
    padding-left:0;
}
.col-md-5 {
  padding-left:0;
}
.col-md-8 {
  padding-left:0;
  padding-right:0
}
.col-md-12 {
  padding-left:0;
  padding-right:0
}
.news .frame-container {
  padding-left:0;
  padding-right:0
}
.navbar .container {
  padding-left:0;
  padding-right:0
}
#p32 .frame-container {
    position: relative;
    width: 100%;
    padding-right:0;
    padding-left:0;
    margin-right: auto;
    margin-left: auto;
}
}

/*** Greater than 768, less then 991 ***/
@media (min-width: 768px) and (max-width: 991.9px){
.news-single img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
}
.news-list-item .col-md-12 {
  padding-left:0;
  padding-right:0
}
.news  .row .news-list-item:last-child {
  flex:0 0 32.7%;
}
.news .row .news-list-item {
  margin:0;
  height:auto;
  flex: 0 0 32.7%;
}
h4 {
  font-size: 1em;
}
.news-list-view p {
  margin:3px 0 0 0;
  font-size: .45rem;
  line-height:.9;
}
.news-list-item .lead {
    margin-bottom: 21px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right:0;
    padding-left:0;
}
.col-md-5 {
  padding-left:0;
}
.news-single .col-md-4 {
  padding-left:0;
  padding-right:0;
  flex:1 0 100%;
  max-width: 100%;
}
.news-single .col-md-8 {
  padding-left:20px;
  padding-right:0;
  flex:1 0 100%;
  max-width: 100%;
}
#p32 .news-single .col-md-4 {
  padding-left:0;
  padding-right:0;
  flex:1 0 33.33333%;
  max-width: 33.33333%;
}
#p32 .news-single .col-md-8 {
  padding-left:0px;
  padding-right:20px;
  flex:1 0 66.66%;
  max-width: 66.66%;
}
.col-md-12 {
  padding-left:0;
  padding-right:0
}
#p32 .news-single .col-md-12 {
  flex:1 0 100%;
  padding-left:0;
  padding-right:0;
  margin-left:-8px;
  margin-right:-8px;
}
.news-single .frame-container {
  padding-left:0;
  padding-right:0
}
#p32 .frame-container {
    position: relative;
    width: 100%;
    padding-right:8px;
    padding-left:8px;
    margin-right: auto;
    margin-left: auto;
}
}

/*** Greater than 992, less then 1199 ***/
@media (min-width: 992px) {
.news .row .news-list-item .img-responsive {
  width:100%;
  height:auto;
}
.news-list-item .col-md-12 {
  padding-left:0;
  padding-right:0
}
.news  .row .news-list-item:last-child {
  flex:0 0 32.7%;
}
.news .row .news-list-item {
  margin:0;
  height:auto;
  flex: 0 0 32.7%;
}
h4 {
  font-size: 1.2em;
}
.news-list-view p {
  margin:3px 0 0 0;
  font-size: .65rem;
  line-height:1;
}
.news-list-item .lead {
    margin-bottom: 23px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right:6px;
    padding-left:6px;
}
.col-md-5 {
  padding-left:0;
}
.col-md-8 {
  padding-left:0;
  padding-right:0
}
.col-md-12 {
  padding-left:0;
  padding-right:0
}
#p32 .news-single .col-md-12 {
  flex:1 0 100%;
  padding-left:0;
  padding-right:0;
  margin-left:-8px;
  margin-right:-8px;
}
#p32 .news-single .col-md-4 {
  padding-left:0;
  padding-right:0;
  flex:1 0 33.33333%;
  max-width: 33.33333%;
}
#p32 .news-single .col-md-8 {
  padding-left:0px;
  padding-right:20px;
  flex:1 0 66.66%;
  max-width: 66.66%;
}
#p32 .frame-container {
    position: relative;
    width: 100%;
    padding-right:8px;
    padding-left:8px;
    margin-right: auto;
    margin-left: auto;
}
}

/*** 1200px and up ***/
@media (min-width: 1200px) {
.news .row .news-list-item .img-responsive {
  width:100%;
  height:auto;
}
.news-list-item .col-md-12 {
  padding-left:0;
  padding-right:0
}
.news  .row .news-list-item:last-child {
  flex:0 0 32.7%;
}
.news .row .news-list-item {
  margin:0;
  height:auto;
  flex: 0 0 32.7%;
}
h4 {
  font-size: 1.3em;
}
.news-list-item .lead {
    margin-bottom: 24px;
}
.col-md-3 {
  padding-left:0;
}
.col-md-5 {
  padding-left:0;
}
.col-md-8 {
  padding-left:0;
  padding-right:0;
}
.col-md-12 {
  padding-left:0;
  padding-right:0;
}
.news .frame-container {
  padding-left:0;
  padding-right:0;
}
#p32 .news-single .col-md-4 {
  padding-left:0;
  padding-right:0;
  flex:1 0 33.33333%;
  max-width: 33.33333%;
}
#p32 .news-single .col-md-8 {
  padding-left:0px;
  padding-right:20px;
  flex:1 0 66.66%;
  max-width: 66.66%;
}
#p32 .frame-container {
    position: relative;
    width: 100%;
    padding-right:6px;
    padding-left:6px;
    margin-right: auto;
    margin-left: auto;
}
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right:8px;
    padding-left:8px;
}
}
/****** END OF NEWS ******/

/********************/
/*****  FOOTER  *****/
/********************/
/** sticky footer **/
body, .body-bg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin:0;
  padding:0;
  background-color:none;
}

#page-footer {
    margin-top: auto;
}

.footer-section-content {
    color: #fff;
    background-color: #transparent;
}

.footer-section-meta {
    color: #ffffff;
    background-color: transparent;
    text-align: left;
    margin-bottom: 0;
}

.footer-section-meta .frame {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.footer-section-meta .frame-inner > *:not(:first-child) {
    margin-top: .1rem;
}

.section-primary + .section-primary {
    border-top: none;
}

.section-light + .section-light {
    border-top: none;
}

.footer-copyright p {
  color:#ffffff;
}
/***** END OF FOOTER *****/
